body {
    font-family: sans-serif;
  }

input {
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
}

button {
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
    margin: 0px 2px;
}

button:hover {
    background-color: darkolivegreen;
    color: #fff;
    cursor: pointer;
}

.input-area {
    background-color: darkcyan;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.incomplete-area {
    border: 2px solid darkcyan;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.complete-area {
    border: 2px solid darkcyan;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #c9dede;
}
  
.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}
  
.list-row {
    display: flex;
    align-items: center;
}
  
.todo-item {
    margin: 6px;
}

.centering_parent {
    width: 640px;               /* 幅指定 */
    position: relative;         /* 位置指定の基準点にする */
}

.centering_item {
   position: absolute;          /* 位置指定 */
   padding: 20px;               /* 余白指定 */
   top:  0;                     /* 位置指定 */
   bottom:  0;                  /* 位置指定 */
   left:  0;                    /* 位置指定 */
   right:  0;                   /* 位置指定 */
   margin:  auto;               /* 中央寄せ */
   width:  150px;               /* 幅指定 */
   height: 80px;                /* 高さ指定 */
   margin-top: 300px;
}